// Main colors
$main-foreground-color: #fff;
$main-background-color: #484848;

// Live bets area colors
$background-submenu-color: #c6c6c6;
$tabsnav-active-foreground-color: #454545;
$sport-type-menu-item-border-color: #f5f5f5;
$account-info-menu-background-color: #d0202e;
$account-info-menu-item-border-color: #921620;
$live-pitch-background-color: #77a5b4;
$info-foreground-color: #d9e6ea;

// Live markets area colors
$markets-border-color: #e3e3e3;
$markets-foreground-color: #808080;
$market-selected-color: #921620;

// Betslip area colors
$betslip-foreground-color: #b1acac;
$info-msg-background-color: #ffff99;
$confirmation-msg-background-color: #c3e89d;
$place-bet-area-background-color: #303030;
$delete-bet-btn-background-color: #666666;
$keypad-border-color: #555;
// Configurations
$main-path: '../../../';